// Place all the styles related to the boats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.boatMargin {
	margin: 5px;
}

.greyBackground {
	background-color: lightgrey;
	border-radius: 7px;
}